* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --text-color: white;
  --bg-url: url(./assets/img/Interface.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/img/moon.svg);
}
.Light {
  --text-color: black;
  --bg-url: url(./assets/img/Interface_light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/img/sun.svg);
}
body {
  background: var(--bg-url) no-repeat top center/cover;
}

body* {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  height: 100vh;
}
body {
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
#Container {
  width: 100%;
  margin: 56px auto 0px;
  padding: 0 24px;
  max-width: 580px;
}
/*switch*/
#Switch button {
  width: 32px;
  height: 32px;
  background: var(--switch-bg-url) white no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}
#Switch {
  position: relative;
  width: 64px;
  margin: 0 auto;
}
span {
  width: 64px;
  height: 24px;
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  --webkit-backdrop-filter: blur(4px);
  display: block;
  border-radius: 9999px;
}
/* perfil*/
#Profile img {
  width: 112px;
  height: 112px;
  align-items: center;
  padding: 24px;
  border-radius: 50%;
}
#Profile {
  padding: 24px;
  text-align: center;
}
#Profile p {
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
  color: var(--text-color);
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  padding: 24px 0px;
}
ul li a {
  border-radius: 8px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  text-decoration: none;
  font-weight: 500;
  color: var(--text-color);
}
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}
#Social-links {
  display: flex;
  gap: 32px;
  padding: 24px 0px;
  font-size: 24px;
  justify-content: center;
}
#Social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
  color: var(--text-color);
}
#Social-links a:hover {
  background: var(--surface-color-hover);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
  color: var(--text-color);
}
footer a {
  text-decoration: none;
  color: var(--text-color);
}

/* media queries */
@media (min-widht: 700px) {
  :root {
    --bg-url: url(./assets/img/backgroud-desktop-dark.jpg);
  }
  .Light {
    --bg-url: url(./assets/img/Backgroud.jpg);
  }
}
